/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html { 
  height: 100%;
}

body {
  min-height: 100%;
  background-color: whitesmoke;

  display: grid;
}
